.container {
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title {
    width: 50vw;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.title > span {
    font-size: 5vw;
    color: var(--main-text-color);
}

.item {
    width: 708px;
    height: 320px;
    background-color: #ffffff;
}

.info {
    width: 50vw;
    color: var(--sub-text-color);
    margin-top: -20px;
}

@media (max-width:499px) {
    .item {
        width: 350px
    }
}

@media (min-width:500px) and (max-width: 708px) {
    .item {
        width: 500px;
    }
}
