.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load span {
    color: var(--sub-text-color);
}

.item {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item span {
    color: var(--main-text-color);
    text-align: center;
}

.top, .bottom {
    color: var(--main-text-color);
}

.bottom {
    margin-top: 20px;
}

@media (max-width:349px) {
    .item, .load {
        width: 200px;
        height: 200px;
    }

    .item span {
        font-size: 1rem;
        padding: 4px 4px 4px 4px;
    }

    .load span {
        font-size: 1rem;
        padding: 4px 4px 4px 4px;
    }

    .top span {
        font-size: 0.5rem;
    }

    .bottom span {
        font-size: 0.5rem;
    }
}

@media (min-width: 350px) and (max-width: 708px) {
    .item, .load {
        width: 300px;
        height: 300px;
    }

    .item span {
        font-size: 2rem;
        padding: 7px 7px 7px 7px;
    }

    .load span {
        font-size: 2rem;
        padding: 7px 7px 7px 7px;
    }

    .top span {
        font-size: 1rem;
    }

    .bottom span {
        font-size: 1rem;
    }
}

@media (min-width: 709px) {
    .item, .load{
        width: 400px;
        height: 400px;
    }

    .item span {
        font-size: 2.5rem;
        padding: 10px 10px 10px 10px;
    }

    .load span {
        font-size: 2.5rem;
        padding: 10px 10px 10px 10px;
    }

    .top span {
        font-size: 1.5rem;
    }

    .bottom span {
        font-size: 1.5rem;
    }
}