.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.text {
    color: var(--main-text-color);
    font-weight: 900;
    text-align: center;
}

.line {
    background-color: #FFFFFF;
    position: absolute;
    top: 48%;
    width: 100%;
}

.day {
    position: absolute;
    top: 85%;
    right: 10%;
    color: var(--main-text-color);
}

@media (max-width:349px) {
    .container {
        gap: 5px;
    }

    .item {
        width: 100px;
        height: 150px;
    }
    
    .text {
        font-size: 4rem;
    }

    .line {
        height: 1px;
    }

    .day {
        font-size: 0.5rem;
    }

}

@media (min-width: 350px) and (max-width: 708px) {
    .container {
        gap: 10px;
    }

    .item {
        width: 200px;
        height: 250px;
    }

    .text {
        font-size: 8rem;
    }

    .line {
        height: 2px;
    }

    .day {
        font-size: 1rem;
    }
}

@media (min-width: 709px) {
    .container {
        gap: 15px;
    }

    .item {
        width: 400px;
        height: 450px;
    }

    .text {
        font-size: 16rem;
    }

    .line {
        height: 3px;
    }

    .day {
        font-size: 2rem;
    }
}
