.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item {
    width: 200px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.text {
    color: var(--main-text-color);
    font-size: 8rem;
    font-weight: 900;
}

.line {
    background-color: #FFFFFF;
    position: absolute;
    top: 48%;
    width: 100%;
    height: 2px;
}

.day {
    position: absolute;
    top: 85%;
    right: 10%;
    color: var(--main-text-color);
    font-size: 1rem
}
