.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load {
    font-size: 3vw;
    color: var(--sub-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 300px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.item {
    width: 650px;
    height: 300px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.current {
    display: flex;
    justify-content: center;
    align-items: center;
}

.region {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.temp {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--main-text-color);
}

.daily {
    background-color: tomato;
}