.container {
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
}

.grid_continer {
    width: 70vw;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.item {
    border: solid 2px;
    border-color: var(--main-border-color);
}

.item > a {
    text-decoration: none;
}

.item_img {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.item_img > img {
    width: 100%;
}

.item_title {
    height: 15vh;
    margin-top: 15px;
    margin-left: 5px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    color: var(--main-text-color);
}

.content {
    margin-top: 10px;
    font-size: 15px;
    color: var(--sub-text-color);
}