.color_picker {
    width: 50vw;
    display: flex;
    align-items: center;
    gap: 30px;
}

.color {
    flex-grow: 9;
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.color input:nth-of-type(1) {
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.color input:nth-of-type(2) {
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.color input:nth-of-type(3) {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-color: var(--main-border-color);
    cursor: pointer;
}

.color input:nth-of-type(4) {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-color: var(--main-border-color);
    padding-left: 5px;
    cursor: pointer;
}

.color_picker > button {
    flex-grow: 1;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border-color: var(--main-border-color);
    cursor: pointer;
}

@media (max-width:900px) {
    .color_picker {
        display: flex;
        flex-direction: column;
    }

    .color {
        display: flex;
        flex-direction: column;
    }
}