.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.btn {
    color: var(--main-text-color);
    font-size: 10vw;
    font-weight: bold;
    border: none;
    cursor: pointer;
}