.clipboard {
    width: 50vw;
    display: flex;
    gap: 15px;
}

.url {
    flex-grow: 8;
    border: 1px solid;
    border-color: var(--main-border-color);
    color: var(--sub-text-color);
    background-color: #ffffff;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.clipboard > button {
    flex-grow: 2;
    border-radius: 10px;
    border-color: var(--main-border-color);
    cursor: pointer;
}

@media (max-width:499px) {
    .clipboard {
        display: flex;
        flex-direction: column;
    }
    
    .url span {
        word-break: break-all;
    }
}
