.container {
    width: 50vw;
    height: 50vh;
    margin: 10px 10px 10px 10px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
}

.part {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFC107;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.hours, .minutes {
    font-size: 10em;
    line-height: 1;
}
